# Copie este arquivo para ".env" na raiz do projeto e preencha.
# Observação: o arquivo ".env" já está no .gitignore.

PORT=3000

SUPABASE_URL=https://tzyvsqyyrsaulryfjnne.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6eXZzcXl5cnNhdWxyeWZqbm5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEwNTAyNDAsImV4cCI6MjA2NjYyNjI0MH0.f2219RP-DrzQQFlgA56ZOSh9p5le89iRcVjJQh-N8xs

SAFE_SUPABASE_AUTH_DOMAIN=safe.local

